*.{zip,gz,rar,mp4,mov,} # Ignore files larger than 100 MB

# Ignore files larger than 100MB
!*.csv/{,,!(????????).csv}


# Ignore files larger than 100 MB
*.csv[100m]
*.txt[100m]
*.log[100m]
*.zip[100m]
*.tar.gz[100m]
*.pdf[100m]
# etc.

./.git/objects/47/0b9f060f511c21b50d0c55d413ae8cd36b01db
./outputs/previous_attemps/edgelist_corrected.txt
